
<h1>Listado de productos</h1>

<form method="post">
    @Html.AntiForgeryToken()
    <label>Dirección de envio</label>
    <input type="text" name="direccion" class="form-control"/>
    
    <br />
    <button class="btn btn-warning">
        Realizar pedido
    </button>

    <ul class="list-group">
        <li class="list-group-item">
            <input type="checkbox" name="producto" 
            value="Tesla 80.000€" />Tesla 80.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" 
                   value="Ordenador Gaming 8.000€" />Ordenador Gaming 8.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" 
                   value="IPhone 1.000€" />IPhone 1.000€
        </li>
        <li class="list-group-item">
            <input type="checkbox" name="producto" 
                   value="Ferrari 180.000€" />Ferrari 180.000€
        </li>
    </ul>
</form>
