

<h1 style="color: red">
    Acceso denegado >:(, inicie sesión
</h1>

<img src="https://www.google.com/url?sa=i&url=https%3A%2F%2Ficon-icons.com%2Fes%2Ficono%2Facceso-denegado%2F154417&psig=AOvVaw3FmwVKWHepoT4nSTAe-stz&ust=1709715429436000&source=images&cd=vfe&opi=89978449&ved=0CBIQjRxqFwoTCKD_mY7g3IQDFQAAAAAdAAAAABAE" />
