
<h1>Login</h1>

<form method="post" >
    <label>User</label>
    <input type="text" name="usuario" class="form-control" />
    <br />
    <label>Password</label>
    <input type="text" name="password" class="form-control" />
    <br />
    <button class="btn btn-info">
        Iniciar sesión
    </button>
</form>

<h2>
    @ViewData["MENSAJE"]
</h2>